@import "tailwindcss";

@theme {
  --color-primary: #15294a;
  --color-gold: #b08600;
  --color-gold-light: #e7d451;
  --color-surface: #ffffff;
  --color-text: #333333;
  --color-text-light: #888888;

  --font-serif: 'DM Serif Display', Georgia, serif;
  --font-sans: 'DM Sans', Arial, sans-serif;
}